<% provide(:title, "プロフィール設定") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <%= render 'shared/logo'%>
    <ul class="nav">
      <%= render 'shared/sidebar/profile' %>
      <%= render 'shared/sidebar/home' %>
      <li class="nav-item menu-items active">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account"></i>
          </span>
          <span class="menu-title">マイページ</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse show" id="ui-basic">
          <ul class="nav flex-column sub-menu show">
            <% if current_user.definitive_registration %>
              <li class="nav-item"> <a class="nav-link" href="#">お知らせ(未)</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Myカレンダー(未)</a></li>
              <li class="nav-item"> <%= link_to 'My収支', user_transactions_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'Myイベント', list_user_events_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'Myサークル設定', join_users_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"> <%= link_to 'プロフィール変更', users_edit_profile_path, class: "nav-link active" %></li>
          </ul>
        </div>
      </li>
      <% if current_user_group.present? %>
        <%= render 'shared/sidebar/circle_page' %>
        <%= render 'shared/sidebar/event' %>
        <%= render 'shared/sidebar/circle_setting' %>
      <% else %>
        <%= render 'shared/sidebar/new_circle' %>
      <% end %>
      <%= render 'shared/sidebar/faq' %>
      <%= render 'shared/sidebar/customize' %>
      <%= render 'shared/sidebar/logout' %>
    </ul>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> プロフィール変更 </h3>
        </div>
        <%= render 'shared/flash' %>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <%= link_to 'プロフィール設定', users_edit_profile_path, class: "nav-link active" %>
                    <%# <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">プロフィール設定</a> %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'パスワード設定', users_edit_password_path, class: "nav-link" %>
                    <%# <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile" aria-selected="false">パスワード設定</a> %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'サークル加入', join_users_path, class: "nav-link" %>
                    <%# <a class="nav-link" id="circle-tab" data-toggle="tab" href="#circle-1" role="tab" aria-controls="circle" aria-selected="false">サークル加入</a> %>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                    <h3>プロフィール設定</h3>
                    <section>
                      <%= form_for(resource, as: resource_name, url: users_update_profile_path(resource_name), html: { method: :put }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <% if resource.pending_reconfirmation? %>
                          <div>現在<<%= resource.unconfirmed_email %>>の確認待ちです。</div>
                        <% end %>
                        <div class="form-group row">
                          <%= f.label :name, "氏名", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.text_field :name, class: "form-control", placeholder: '氏名を入力してください', style: "color: white;" %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :furigana, "フリガナ", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.text_field :furigana, class: "form-control", placeholder: 'フリガナを入力してください', style: "color: white;" %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :email, "メールアドレス", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.email_field :email, class: "form-control", placeholder: 'メールアドレスを入力してください', style: "color: white;" %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :grade, "学年", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <% grades = [] %>
                            <% 6.times do |i| %>
                              <% grades << ["#{i + 1}年生", "grade#{i + 1}"] %>
                            <% end %>
                            <% grades << ['その他', 'other'] %>
                            <%= f.select :grade, grades, { include_blank: '選択してください' }, { class: "form-control", style: "color: white;" } %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :gender, '性別', class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.select :gender, [['男性', false], ['女性', true]], { include_blank: '選択してください' }, { class: "form-control", style: "color: white;" } %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :pcurrent_password, 'パスワード', class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.password_field :current_password, class: "form-control", style: "color: white;", placeholder: 'パスワードを入力してください' %>
                            <small class="form-text text-muted">内容の変更にはパスワードが必要です。</small>
                          </div>
                        </div>
                        <%= f.submit '変更', class: "btn btn-primary mr-2" %>
                      <% end %>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<style>
.field_with_errors {
  display: contents;
  /* input {
    @extend .is-invalid;
  } */
}
</style>
