<% provide(:title, "ユーザー新規登録") %>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100" style="margin-left: 0;">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center"  style="background-image: url(/images/background14.jpg); background-repeat: no-repeat; background-size: cover;">
        <div class="card col-lg-4 mx-auto" style="background-color: white;">
          <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3" style="color: black;">新規登録</h3>
            <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <% if @group %>
                <%= hidden_field_tag :group_id, @group.id %>
              <% end %>

              <div class="form-group">
                <%= f.label :name, '氏名', style: "color: black;" %>
                <%= f.text_field :name, class: "form-control p_input", style: "color: white;" %>
              </div>

              <div class="form-group">
                <%= f.label :furigana, 'フリガナ', style: "color: black;" %>
                <%= f.text_field :furigana, class: "form-control p_input", style: "color: white;" %>
              </div>

              <div class="form-group">
                <%= f.label :gender, '性別', style: "color: black;" %>
                <%= f.select :gender, [['男性', false], ['女性', true]], { include_blank: '選択してください' }, { class: "form-control p_input", style: "color: white;" } %>
              </div>

              <div class="form-group">
                <% grades = [] %>
                <% 6.times do |i| %>
                  <% grades << ["#{i + 1}年生", "grade#{i + 1}"] %>
                <% end %>
                <% grades << ['その他', 'other'] %>
                <%= f.label :grade, '学年', style: "color: black;" %>
                <%= f.select :grade, grades, { include_blank: '選択してください' }, { class: "form-control p_input", style: "color: white;" } %>
              </div>

              <div class="form-group">
                <%= f.label :email, 'メールアドレス', style: "color: black;" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control p_input", style: "color: white;" %>
              </div>

              <div class="form-group">
                <%= f.label :password, 'パスワード', style: "color: black;" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control p_input", style: "color: white;" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, 'パスワード確認', style: "color: black;" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control p_input", style: "color: white;" %>
              </div>

              <div class="form-group d-flex align-items-center justify-content-between">
                <%= link_to '利用規約', terms_of_service_path, target: :_blank, class: "forgot-pass" %>

                <div class="form-check">
                  <label class="form-check-label">
                    <%= f.check_box :agreement, :as => :boolean, checked: false, class: "form-check-input" %> 利用規約に同意</label>
                </div>
              </div>

              <div class="text-center">
                <%= f.submit "登録", class: "btn btn-primary btn-block enter-btn", style: "margin-bottom: 20px;", data: { disable_with: '登録' } %>
              </div>

              <p class="sign-up text-center" style="color: black;">登録済み？ <%= link_to "ログイン", new_session_path(resource_name) %></p>
              <%# <p class="terms" style="color: black;">By creating an account you are accepting our<a href="#"> Terms & Conditions</a></p> %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<style>
  .field_with_errors {
    display: contents;
    /* input {
        @extend .is-invalid;
      } */
    }
</style>

