<% provide(:title, "サークル情報") %>

<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <%= render 'shared/logo'%>
    <ul class="nav">
      <%= render 'shared/sidebar/profile' %>
      <%= render 'shared/sidebar/home' %>
      <%= render 'shared/sidebar/my_page' %>
      <% if current_user_group.present? %>
        <%= render 'shared/sidebar/circle_page' %>
        <%= render 'shared/sidebar/event' %>
        <li class="nav-item menu-items active">
          <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
            <span class="menu-icon">
              <i class="mdi mdi-settings" style="color: blueviolet;"></i>
            </span>
            <span class="menu-title">サークル設定</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse show" id="ui-advanced">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <%= link_to 'メンバー情報', group_users_path(group_id: current_user_group.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'メンバー設定', change_group_path(id: current_user_group.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'サークル情報', edit_group_path(id: current_user_group.id), class: "nav-link active" %></li>
              <li class="nav-item"> <a class="nav-link" href="#">支払い情報(未)</a></li>
            </ul>
          </div>
        </li>
      <% else %>
        <%= render 'shared/sidebar/new_circle' %>
      <% end %>
      <%= render 'shared/sidebar/faq' %>
      <%= render 'shared/sidebar/customize' %>
      <%= render 'shared/sidebar/logout' %>
    </ul>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper" style="height: 100%;">
        <div class="page-header">
          <h3 class="page-title"> サークル情報 </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">サークルページ</a></li>
              <li class="breadcrumb-item active" aria-current="page">サークル情報</li>
            </ol>
          </nav>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
                <h4 class="card-title">サークル設定</h4>
                <p class="card-description">サークルの設定ができます。</p>
                <%= form_with model: @group, class: "forms-sample", local: true do |f| %>
                  <div class="form-group row">
                    <%= f.label :name, "サークル名", for: "exampleInputUsername2", class: 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                      <%= f.text_field :name, class: "form-control", id: "exampleInputUsername2", placeholder: "登録名", style: "color: white;" %>
                    </div>
                  </div>
                  <%# <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">代表者名</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" style="color: white;">
                    </div>
                  </div> %>
                  <div class="form-group row">
                    <%= f.label :email, "代表者メールアドレス", for: "exampleInputMobile", class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-9">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "exampleInputMobile", class: 'form-control', placeholder: "代表者メールアドレス", style: "color: white;" %>
                    </div>
                  </div>
                  <%# <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-3 col-form-label">支払いPayPalアカウント</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="現在のPaypal" style="color: white;">
                    </div>
                  </div> %>
                  <div class="form-group row">
                    <%= f.label :group_number, "グループID(6~25文字)", for: "exampleInputConfirmPassword2", class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-9">
                      <%= f.text_field :group_number, id: "exampleInputConfirmPassword2", class: 'form-control', placeholder: "現在のサークルID", style: "color: white;" %>
                    </div>
                  </div>
                  <%= button_tag '変更', type: 'submit', class: "btn btn-primary mr-2" %>
                  <%# <button class="btn btn-dark">リセット</button> %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
