<% provide(:title, "メンバー情報") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> メンバー一覧 </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">サークルページ</a></li>
              <li class="breadcrumb-item active" aria-current="page">メンバー一覧</li>
            </ol>
          </nav>
        </div>
        <%= render 'shared/flash' %>
        <div class="card">
          <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
            <h4 class="card-title">メンバー設定</h4>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">1年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile" aria-selected="false">2年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-1" role="tab" aria-controls="contact" aria-selected="false">3年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-2" role="tab" aria-controls="contact2" aria-selected="false">4年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-3" role="tab" aria-controls="contact2" aria-selected="false">5年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-4" role="tab" aria-controls="contact2" aria-selected="false">6年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-5" role="tab" aria-controls="contact2" aria-selected="false">その他</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                <h3>1年生</h3>
                <section>
                  <%= render 'members', group: @group, members: @members1 %>
                </section>
              </div>
              <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                <h3>2年生</h3>
                <section>
                  <%= render 'members', group: @group, members: @members2 %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                <h3>3年生</h3>
                <section>
                  <%= render 'members', group: @group, members: @members3 %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-2" role="tabpanel" aria-labelledby="contact2-tab">
                <h3>4年生</h3>
                <section>
                  <%= render 'members', group: @group, members: @members4 %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-3" role="tabpanel" aria-labelledby="contact3-tab">
                <h3>5年生</h3>
                <section>
                  <%= render 'members', group: @group, members: @members5 %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact4-tab">
                <h3>6年生</h3>
                <section>
                  <%= render 'members', group: @group, members: @members6 %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-5" role="tabpanel" aria-labelledby="contact5-tab">
                <h3>その他</h3>
                <section>
                  <%= render 'members', group: @group, members: @others %>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<script>
</script>
