<% provide(:title, "サークル入会") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <%= render 'shared/logo'%>
    <ul class="nav">
      <%= render 'shared/sidebar/profile' %>
      <%= render 'shared/sidebar/home' %>
      <li class="nav-item menu-items active">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account"></i>
          </span>
          <span class="menu-title">マイページ</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse show" id="ui-basic">
          <ul class="nav flex-column sub-menu show">
            <% if current_user.definitive_registration %>
              <li class="nav-item"> <a class="nav-link" href="#">お知らせ(未)</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Myカレンダー(未)</a></li>
              <li class="nav-item"> <%= link_to 'My収支', user_transactions_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'Myイベント', list_user_events_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'Myサークル設定', join_users_path, class: "nav-link active" %></li>
            <% end %>
            <li class="nav-item"> <%= link_to 'プロフィール変更', users_edit_profile_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
      <% if current_user_group.present? %>
        <%= render 'shared/sidebar/circle_page' %>
        <%= render 'shared/sidebar/event' %>
        <%= render 'shared/sidebar/circle_setting' %>
      <% else %>
        <%= render 'shared/sidebar/new_circle' %>
      <% end %>
      <%= render 'shared/sidebar/faq' %>
      <%= render 'shared/sidebar/customize' %>
      <%= render 'shared/sidebar/logout' %>
    </ul>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> Myサークル設定 </h3>
        </div>
        <%= render 'shared/flash' %>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <%= link_to 'サークル入会', join_users_path, class: "nav-link active" %>
                    <%# <a class="nav-link" id="circle-tab" data-toggle="tab" href="#circle-1" role="tab" aria-controls="circle" aria-selected="false">サークル加入</a> %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'サークル退会', leave_users_path, class: "nav-link" %>
                    <%# <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">プロフィール設定</a> %>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                    <h3>サークル入会</h3>
                    <section>
                      <%= form_with model: @group_user, url: join_group_users_path, class: "forms-sample", local: true do %>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">サークルID</label>
                          <div class="col-sm-9">
                            <%= hidden_field_tag :user_id, current_user.id %>
                            <%= text_field_tag :group_number, '', class: "form-control", style: "color: white;", placeholder: "参加したいサークルのIDを入力してください" %>
                            <small class="form-text text-muted">サークルIDがわからない場合は幹事の方に確認してください。</small>
                            <%= button_tag type: "submit", class: "btn btn-primary mr-2", style: "margin-top: 15px;", data: { disable_with: '処理中' } do %>
                              入会する
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<style>
.field_with_errors {
  display: contents;
  /* input {
    @extend .is-invalid;
  } */
}
</style>
