<nav class="sidebar sidebar-offcanvas" id="sidebar" >
  <%= render 'shared/logo'%>
  <ul class="nav">
    <%= render 'shared/sidebar/profile' %>
    <%= render 'shared/sidebar/home' %>
    <%= render 'shared/sidebar/my_page' %>
    <% if current_user_group.present? %>
      <%= render 'shared/sidebar/circle_page' %>
      <%= render 'shared/sidebar/event' %>
      <%= render 'shared/sidebar/circle_setting' %>
    <% else %>
      <%= render 'shared/sidebar/new_circle' %>
    <% end %>
    <%= render 'shared/sidebar/faq' %>
    <%= render 'shared/sidebar/questionnaire' %>
    <%= render 'shared/sidebar/customize' %>
    <%= render 'shared/sidebar/logout' %>
  </ul>
</nav>
