<% provide(:title, "Myイベント") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <%= render 'shared/logo'%>
    <ul class="nav">
      <%= render 'shared/sidebar/profile' %>
      <%= render 'shared/sidebar/home' %>
      <li class="nav-item menu-items active">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account"></i>
          </span>
          <span class="menu-title">マイページ</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse show" id="ui-basic">
          <ul class="nav flex-column sub-menu show">
            <% if current_user.definitive_registration %>
              <li class="nav-item"> <a class="nav-link" href="#">お知らせ(未)</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Myカレンダー(未)</a></li>
              <li class="nav-item"> <%= link_to 'My収支', user_transactions_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'Myイベント', list_user_events_path(user_id: current_user.id), class: "nav-link active" %></li>
              <li class="nav-item"> <%= link_to 'Myサークル設定', join_users_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"> <%= link_to 'プロフィール変更', users_edit_profile_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
      <% if current_user_group.present? %>
        <%= render 'shared/sidebar/circle_page' %>
        <%= render 'shared/sidebar/event' %>
        <%= render 'shared/sidebar/circle_setting' %>
      <% else %>
        <%= render 'shared/sidebar/new_circle' %>
      <% end %>
      <%= render 'shared/sidebar/faq' %>
      <%= render 'shared/sidebar/customize' %>
      <%= render 'shared/sidebar/logout' %>
    </ul>
  </nav>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper" style="color: black;">
        <%= render 'shared/flash' %>
        <div class="page-header">
          <h3 class="page-title"> Myイベント </h3>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Myイベント一覧</h4>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr>
                        <th>イベント名</th>
                        <th>日時</th>
                        <th>参加人数</th>
                        <th>出欠状況</th>
                        <th>支払うべき額</th>
                        <th>支払った額</th>
                        <th>支払い状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% today = Time.current.midnight %>
                      <% @events.each do |event| %>
                        <% transaction = Event::Transaction.find_by(event_id: event.id, debtor_id: current_user.id) %>
                        <% answer = Answer.find_by(event_id: event.id, user_id: current_user.id) %>
                        <tr>
                          <td><%= link_to event.name.truncate(22) , details_group_event_path(group_id: event.group_id, id: event.id), style: 'color: black;' %></td>
                          <td>
                            <%= readable_event_date(event) %>
                          </td>
                          <td><%= Answer.attending_count(event: event) %>人</td>
                          <td>
                            <%= render 'events/list/answer_select', answer: answer, event: event %>
                          </td>
                          <% if transaction && answer %>
                            <% debt = transaction.debt %>
                            <% payment = transaction.payment %>
                            <% deadline = transaction.deadline %>
                            <% status = answer.status %>
                            <td>￥<%= debt %></td>
                            <td>
                              <% if status == 'attending' || (status == 'absent' && payment != 0) %>
                                ￥<%= payment %>
                              <% end %>
                            </td>
                            <td>
                              <% if status == 'attending' %>
                                <% if debt == payment %>
                                  <%= link_to '発行', receipt_transaction_path(url_token: transaction.url_token, format: 'pdf'), class: 'btn btn-success' %>
                                <% elsif debt < payment %>
                                  <label class='btn btn-info'>過払い</label>
                                <% elsif deadline < today %>
                                  <label class='btn btn-danger'>未払い</label>
                                <% else %>
                                  <label class='btn btn-primary'>予定</label>
                                <% end %>
                              <% end %>
                            </td>
                          <% else %>
                            <td></td>
                            <td></td>
                            <td></td>
                          <% end %>
                        <% end %>
                        </tr>
                    </tbody>
                  </table>
                  <%= paginate @events %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->

      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script>
  (function($) {
    'use strict';
    $(function() {
      $('#order-listing').DataTable({
        "aLengthMenu": [
          [5, 10, 15, -1],
          [5, 10, 15, "All"]
        ],
        "iDisplayLength": 10,
        "language": {
          search: ""
        }
      });
      $('#order-listing').each(function() {
        var datatable = $(this);
        // SEARCH - Add the placeholder for Search and Turn this into in-line form control
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Search');
        search_input.removeClass('form-control-sm');
        // LENGTH - Inline-Form control
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.removeClass('form-control-sm');
      });
    });
  })(jQuery);
</script>
<script>
  let answerSelect = $('select[id=answer-select]');
  answerSelect.change(function(e) {
    e.preventDefault(); // キャンセル可能なイベントをキャンセル
    let select = $(this)
    let answerId = select.data('answer-id');
    let status = select.val();
    let answerUrl = `/answers/${answerId}/change`;
    $.ajax({
      url: answerUrl,
      type: 'PATCH',
      data: { answer_id: answerId, status: status },
      // dataType: 'json',
      // processData: false,
      // contentType: false
    })
    .done(function() {
      select.removeAttr('class')
      select.removeAttr('style');
      if (status === 'attending') {
        select.addClass('btn btn-success')
      } else if (status === 'absent') {
        select.addClass('btn btn-danger')
      }
    })
    .fail(function() {
      alert('回答を変更できませんでした。');
    });
  });
</script>
