<% provide(:title, "イベント管理") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> イベント管理 </h3>
        </div>
        <%= render 'shared/flash' %>
        <div class="card">
          <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
            <h3 class="card-title" ><%= @event.name %></h3>
            <%= link_to '支払い情報一括作成/更新', new_event_fee_path(event_id: @event.id), class: "btn btn-outline-primary" %>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">出席(<%= @counts[:attending_count] %>人)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile" aria-selected="false">欠席(<%= @counts[:absent_count] %>人)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-1" role="tab" aria-controls="contact" aria-selected="false">未完了(<%= @counts[:uncompleted_count] %>人)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-2" role="tab" aria-controls="contact2" aria-selected="false">未回答(<%= @counts[:unanswered_count] %>人)</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                <h3>出席</h3>
                <section>
                  <%= render 'events/show/attending_members', answers: @attending_answers %>
                </section>
              </div>

              <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                <h3>欠席</h3>
                <section>
                  <%= render 'events/show/absent_members', answers: @absent_answers %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                <h3>未払い</h3>
                <section>
                  <%= render 'events/show/uncompleted_members', transactions: @uncompleted_transactions %>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-2" role="tabpanel" aria-labelledby="contact2-tab">
                <h3>未回答</h3>
                <section>
                  <%= render 'events/show/unanswered_members', answers: @unanswered_answers %>
                </section>
              </div>
              <div class="row">
                <%= link_to edit_group_event_path(group_id: @group.id, id: @event.id), class: "btn btn-danger btn-icon-text col-md-3", style: "margin-right: 30px;margin-left: 30px;" do %>
                  <i class="mdi mdi-file-check btn-icon-append"></i> イベント編集
                <% end %>
                <%= link_to details_group_event_path(group_id: @group.id, id: @event.id), class: "btn btn-success btn-icon-text col-md-3", style: "margin-right: 30px;margin-left: 30px;" do %>
                  <i class="mdi mdi-file-check btn-icon-append"></i> イベント回答
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script>
  let transactionSelect = $('.transaction-select');
  transactionSelect.change(function(e) {
    e.preventDefault(); // キャンセル可能なイベントをキャンセル
    let select = $(this)
    let urlToken = select.data('url-token');
    let debt = select.data('debt');
    let payment = select.val();
    let transactionUrl = `/transactions/${urlToken}/change`;
    $.ajax({
      url: transactionUrl,
      type: 'PATCH',
      data: { url_token: urlToken, payment: payment },
      // dataType: 'json',
      // processData: false,
      // contentType: false
    })
    .done(function() {
      tdCompleted = select.parent().parent();
      tdPayment = tdCompleted.prev()
      select.parent().remove();
      let html = `<a class='btn btn-success' href='/transactions/${urlToken}/receipt.pdf'>完了</a>`;
      if (debt.toString() === payment.toString()) {
        tdPayment.html(`￥${debt}`);
        tdCompleted.append(html);
      }
    })
    .fail(function() {
      alert('エラーが発生しました。');
    });
  });
</script>

<script>
  // (function($) {
  //   button = $('#event-delete-button')
  //   button.on('click', function(e) {
  //     e.preventDefault();
  //     let options = {
  //       title: '本当に削除しますか？',
  //       text: "イベントに関する情報も失われます！",
  //       icon: 'warning',
  //       showCancelButton: true,
  //       confirmButtonColor: '#3f51b5',
  //       cancelButtonColor: '#ff4081',
  //       confirmButtonText: 'Great ',
  //       buttons: {
  //         cancel: {
  //           text: "Cancel",
  //           value: null,
  //           visible: true,
  //           className: "btn btn-danger",
  //           closeModal: true,
  //         },
  //         confirm: {
  //           text: "OK",
  //           value: true,
  //           visible: true,
  //           className: "btn btn-primary",
  //           closeModal: true
  //         }
  //       }
  //     };
  //     swal(options).then(function(val) {
  //       if (val) {
  //         // Okボタンが押された時の処理
  //         let groupId = button.data('group-id');
  //         let eventId = button.data('event-id');
  //         let url1 = `/groups/${groupId}/events/${eventId}`;
  //         $.ajax({
  //           url: url1,
  //           type: 'DELETE',
  //           // processData: false,
  //           contentType: false,
  //           async: false
  //         })
  //         .done(function() {
  //           let url2 = `/groups/${groupId}/events/`;
  //           window.location.href = url2;
  //         })
  //         .fail(function() {
  //           swal({
  //           text: "エラーが発生しました",
  //           icon: "warning",
  //           buttons: false,
  //           timer: 1000
  //           });
  //         });
  //       } else {
  //         // キャンセルボタンを押した時の処理
  //         swal({
  //           text: "キャンセルされました",
  //           icon: "warning",
  //           buttons: false,
  //           timer: 1000
  //         });
  //       }
  //     })
  //   });
  // })(jQuery);
</script>
