<% provide(:title, "#{@event.name}の支払い情報作成") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h2 class="page-title" style="color: black;"> <%= @event.name %>の支払い情報作成 </h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">イベントページ</a></li>
              <li class="breadcrumb-item active" aria-current="page" style="color: black;">イベント一覧</li>
              <li class="breadcrumb-item active" aria-current="page" style="color: black;">詳細情報</li>
              <li class="breadcrumb-item active" aria-current="page" style="color: black;">支払い情報作成</li>
            </ol>
          </nav>
        </div>
        <%= render 'shared/flash' %>

        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
              <h4 class="card-title" >支払い情報</h4>
              <p class="card-description">学年ごとに支払い情報を指定できます。</p>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">1年生</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile" aria-selected="false">2年生</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-1" role="tab" aria-controls="contact" aria-selected="false">3年生</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-2" role="tab" aria-controls="contact2" aria-selected="false">4年生</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="contact3-tab" data-toggle="tab" href="#contact-3" role="tab" aria-controls="contact3" aria-selected="false">5年生</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="contact4-tab" data-toggle="tab" href="#contact-4" role="tab" aria-controls="contact4" aria-selected="false">6年生</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="contact5-tab" data-toggle="tab" href="#contact-5" role="tab" aria-controls="contact5" aria-selected="false">その他</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="batch-tab" data-toggle="tab" href="#batch-1" role="tab" aria-controls="batch" aria-selected="false">全学年</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                  <h3>1年生の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade1]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade1' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade1' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                  <h3>2年生の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade2]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade2' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade2' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                  <h3>3年生の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade3]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade3' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade3' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="contact-2" role="tabpanel" aria-labelledby="contact2-tab">
                  <h3>4年生の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade4]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade4' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade4' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="contact-3" role="tabpanel" aria-labelledby="contact3-tab">
                 <h3>5年生の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade5]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade5' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade5' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact4-tab">
                  <h3>6年生の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade6]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade6' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'grade6' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="contact-5" role="tabpanel" aria-labelledby="contact5-tab">
                  <h3>その他の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:other]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'other' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= f.hidden_field :grade, value: 'other' %>
                        <%= render 'fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>

                <div class="tab-pane fade" id="batch-1" role="tabpanel" aria-labelledby="batch-tab">
                  <h3>全学年の支払い設定</h3>
                  <section>
                    <% fee = @event.fees.find_by(grade: Fee.grades[:grade1]) %>
                    <% if fee.blank? %>
                      <% fee = @event.fees.build %>
                      <%= form_with model: fee, url: event_fees_path(event_id: @event.id), local: true do |f| %>
                        <%= render 'shared/error_messages', model: f.object %>
                        <%= f.hidden_field :grade, value: 'grade1' %>
                        <%= render 'new_fee_form', f: f %>
                      <% end %>
                    <% else %>
                      <%= form_with model: fee, url: event_fee_path(event_id: @event.id, id: fee.id), local: true do |f| %>
                        <%= render 'shared/error_messages', model: f.object %>
                        <%= f.hidden_field :grade, value: 'grade1' %>
                        <%= render 'new_fee_form', f: f %>
                      <% end %>
                    <% end %>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<style>
  .field_with_errors {
    display: contents;
    /* input {
        @extend .is-invalid;
      } */
    }
</style>
