<div class="card" style="margin-bottom: 20px;">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <% if answers.any? %>
            <table id="order-listing" class="table">
              <thead>
                <tr>
                  <th>名前</th>
                  <th>回答日</th>
                  <th>学年</th>
                  <th>欠席理由</th>
                </tr>
              </thead>
              <tbody>
                <% answers.each do |answer| %>
                  <% user = answer.user %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= l answer.updated_at, format: :short %></td>
                    <td><%= user.to_readable_grade %></td>
                    <td>
                      <% unless answer.nothing? %>
                        <%= t("enums.answer.reason.#{answer.reason}") %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate answers %>
          <% else %>
            欠席者はいません
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
