<div class="card" style="margin-bottom: 20px;">
  <div class="card-body" style="color: black;">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr>
                <th>名前</th>
                <th>回答日</th>
                <th>学年</th>

                <th>支払うべき額</th>
                <th>支払った金額</th>

                <th>何か</th>
                <th>支払い状況</th>
                <th>編集</th>
              </tr>
            </thead>
            <tbody>
              <% @attending_answers.each do |answer| %>
                <% user = User.find(answer.user_id) %>
                <% transaction = Event::Transaction.find_by(event_id: @event.id, debtor_id: user.id) %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= l answer.updated_at, format: :short %></td>
                  <td><%= user.grade %></td>
                  <%= render 'events/show/transaction', transaction: transaction %>
                  <td>
                    <%= link_to '変更する', edit_event_transaction_path(event_id: transaction.event_id, url_token: transaction.url_token), class: "btn btn-outline-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @attending_answers %>
        </div>
      </div>
    </div>
  </div>
</div>

