<% provide(:title, "My収支") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <%= render 'shared/logo'%>
    <ul class="nav">
      <%= render 'shared/sidebar/profile' %>
      <%= render 'shared/sidebar/home' %>
      <li class="nav-item menu-items active">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account" style="color: #D78114;"></i>
          </span>
          <span class="menu-title">マイページ</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse show" id="ui-basic">
          <ul class="nav flex-column sub-menu show">
            <% if current_user.definitive_registration %>
              <%# <li class="nav-item"> <a class="nav-link" href="#">お知らせ(coming soon!)</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Myカレンダー(coming soon!)</a></li> %>
              <li class="nav-item"> <%= link_to 'My収支', user_transactions_path(user_id: current_user.id), class: "nav-link active" %></li>
              <li class="nav-item"> <%= link_to 'Myイベント', list_user_events_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'Myサークル設定', join_users_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"> <%= link_to 'プロフィール変更', users_edit_profile_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
      <% if current_user_group.present? %>
        <%= render 'shared/sidebar/circle_page' %>
        <%= render 'shared/sidebar/event' %>
        <%= render 'shared/sidebar/circle_setting' %>
      <% else %>
        <%= render 'shared/sidebar/new_circle' %>
      <% end %>
      <%= render 'shared/sidebar/faq' %>
      <%= render 'shared/sidebar/payment' %>
      <%= render 'shared/sidebar/customize' %>
      <%= render 'shared/sidebar/logout' %>
    </ul>
  </nav>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <%#= render 'shared/ad' %>
        <div class="page-header">
          <h3 class="page-title"> My収支 </h3>
        </div>
        <%= render 'shared/flash' %>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="color: white;">
                <h4 class="card-title">イベント収支情報</h4>
                <% values = { total_payment: @total_payment, total_overdue_debt: @total_overdue_debt,
                              total_non_overdue_debt: @total_non_overdue_debt, urgent_transactions: @urgent_transactions } %>
                <%= render 'shared/balance_chart', values %>
              </div>
            </div>
          </div>
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="color: black;">
                <h4 class="card-title">イベント支払い履歴</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table id="order-listing" class="table">
                        <thead>
                          <tr>
                            <th>イベント名</th>
                            <th>支払い期限</th>
                            <th>金額</th>
                            <th>支払った金額</th>
                            <th>支払い相手</th>
                            <th>支払い状況</th>
                            <th>領収書発行</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @transactions.each do |transaction| %>
                            <% deadline = transaction.deadline %>
                            <% debt = transaction.debt %>
                            <% payment = transaction.payment %>
                            <% event = Event.find(transaction.event_id) %>
                            <tr>
                              <td>
                                <%= link_to event.name.truncate(20), details_group_event_path(group_id: event.group_id, id: event.id), style: 'color: black;' %>
                              </td>
                              <td><%= l deadline, format: :short %></td>
                              <td><%= number_to_currency(transaction.debt) %></td>
                              <td><%= number_to_currency(transaction.payment) %></td>
                              <td><%= transaction.creditor.name %></td>
                              <% if debt == payment %>
                                <td>
                                  <label class="badge badge-success">完了</label>
                                </td>
                                <td>
                                  <%= link_to "発行", receipt_transaction_path(url_token: transaction.url_token, format: "pdf"), class: "btn btn-outline-primary" %>
                                </td>
                              <% elsif debt > payment %>
                                <td>
                                  <% if deadline > @today %>
                                    <label class="badge badge-primary">予定</label>
                                  <% else %>
                                    <label class="badge badge-danger">未払い</label>
                                  <% end %>
                                </td>
                                <td></td>
                              <% else %>
                                <td>
                                  <label class="badge badge-info">過払い</label>
                                </td>
                                <td></td>
                              <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <%= paginate @transactions %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="color: black;">
                <h4 class="card-title">貸し借りメモ</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table id="order-listing" class="table">
                        <thead>
                          <tr>
                            <th>貸し借り</th>
                            <th>支払い相手</th>
                            <th>金額</th>
                            <th>支払った金額</th>
                            <th>期限</th>
                            <th>メモ</th>
                            <th>支払い状況</th>
                            <th>変更</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @individual_transactions.each do |transaction| %>
                            <% deadline = transaction.deadline %>
                            <% debt = transaction.debt %>
                            <% payment = transaction.payment %>
                            <% url_token = transaction.url_token %>
                            <tr>
                              <td>
                                <% is_lending = transaction.lending?(user: current_user) %>
                                <% if is_lending %>
                                  <label class="btn btn-outline-primary">貸した</label>
                                <% else %>
                                  <label class="btn btn-outline-danger">借りた</label>
                                <% end %>
                              </td>
                              <td>
                                <% if is_lending %>
                                  <%= transaction.debtor.name %>
                                <% else %>
                                  <%= transaction.creditor.name %>
                                <% end %>
                              </td>
                              <td><%= number_to_currency(transaction.debt) %></td>
                              <td><%= number_to_currency(transaction.payment) %></td>
                              <td><%= l deadline, format: :short %></td>
                              <td><%= transaction.memo %></td>
                              <% if debt == payment %>
                                <td>
                                  <label class="badge badge-success">完了</label>
                                </td>
                              <% elsif debt > payment %>
                                <td>
                                  <% if deadline > @today %>
                                    <label class="badge badge-primary">予定</label>
                                  <% else %>
                                    <label class="badge badge-danger">未完了</label>
                                  <% end %>
                                </td>
                              <% else %>
                                <td>
                                  <label class="badge badge-info">過払い</label>
                                </td>
                              <% end %>
                              <td><%= link_to '変更する', edit_users_transaction_path(url_token: url_token), class: "btn btn-outline-primary" %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <%= paginate @individual_transactions %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
          <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

