<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= favicon_pack_tag 'circle-tree.png' %>
    <% if controller.controller_name == 'homes' && (controller.action_name == 'landing' || controller.action_name == 'privacy_policy' || controller.action_name == 'terms_of_service') %>
      <%= yield(:pack_tag) %>
    <% else %>
      <%= stylesheet_pack_tag 'application', media: 'all' %>
      <%= javascript_pack_tag 'application2' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
